html, body {
  height: 100%; 
  margin: 0;
  overflow: hidden;
}

/* General styles */
body {
  padding-top: 70px;
  background-color: transparent;
  background: url("/main-background.webp") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
 
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin-bottom: 2em !important;
  box-sizing: border-box;
  background: transparent;
  padding-top: 70px;
 padding-bottom: 200px;

}
.about-me{
  background-color: rgba(0, 0, 0, 0.9);
}

/* Make sure the root element takes the full width */
#root {
  width: 100%;
}

/* Portfolio container styling */
.portfolio-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Soft shadow */
  box-sizing: border-box;
  overflow-y: auto; /* Scrollable content */
  position: relative; /* Position for child elements */
  margin-bottom: 2rem;
  max-height: calc(100vh - 100px);

}

/* Close button styling */
.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  color: #888;
  background-color: red;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.7em !important;
}

/* Hover effect for close button */
.close-button:hover {
  color: #000;
}

/* Project card styling */
.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd; /* Light border around cards */
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
  color: white !important; /* Override color to white */
}

/* Hover effect for project cards */
.project-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Project card titles */
.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Project card descriptions */
.project-info p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Project card information */
.project-info {
  display: flex;
  flex-direction: column;
}

/* Styling for demo video container */
.demo-video-container {
  margin: 10px 0;
}

.demo-video-container iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: none;
}

/* GitHub link styling */
.project-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9); /* Dark background for link */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Hover effect for GitHub link */
.project-info a:hover {
  background-color: #333; /* Darker when hovered */
}

.extra-action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.extra-action-button:hover {
  background-color: #0056b3;
}

.footer-container {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0em;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
}
/* New style for the button when instructions are visible */
.talk-button-visible {
  background-size: 40px 40px !important; /* Decreased background size */
  width: 80px !important; /* Smaller button */
  height: 120px !important; /* Smaller button */
  top: 100px !important;
  left: 80% !important;
  position: fixed;
  z-index: 1001 !important;
}

/*Scroll bar styles*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Responsive design for smaller screens */
@media (min-width: 768px) {
  .talk-button,
  .show-portfolio-button {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .portfolio-container {
    padding: 15px;
  }

  .demo-video-container iframe {
    height: 200px;
  }

  /* Make the button container row for larger screens */
  .button-container {
    flex-direction: row;
  }
}
